/* font family links */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	border: none;
	font-family: 'Roboto Condensed', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: linear-gradient(
		135deg,
		rgb(255, 243, 224) 0%,
		rgb(255, 224, 178) 100%
	);
}
.enter {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 450px;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	background: #fff;
}

.nameInput {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}
.nameInput:focus {
	outline: none;
	border-color: #ff9800;
	box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

#startButton {
	padding: 10px;
	background-color: #ff9800;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
#startButton:hover {
	background-color: #e68900;
}
#startButton:active {
	background-color: #cc7a00;
}
